* {
	color:#025402;
}

body {
	background:
	   linear-gradient(rgba(113, 191, 142, 0.73),rgba(6, 86, 19, 0.5)),
	   url('ginko_biloba.png');
	background-size: 70vw;
}

.completed pre{
	text-decoration: line-through;
}
#top {
	width: 20em;
	margin: 1em;
}

#search {
	width: 20em;
	height: 2.5em;
	margin-left: 1em;
}

li {
	border: 1px solid;
	margin: 1em;
	list-style-type: none;
	padding-left: .5em;
	background-color: #b4d4b6c2;
}
pre {
	 white-space: pre-wrap;
}
li {
	display: grid;
	grid-template-columns: 7fr 1fr 1fr;
}
button {
	height: 3em;
	width: 7em;
	margin: .3em;
}
